@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

.card {
    position: relative;
    border-radius: 0.5em;
    border: 0.5em black solid;
    overflow: hidden;
    width: 400px;
    height: 600px;
    padding: 1em;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: 50%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.card h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
    border: 0.1em solid darkgray;
}

.card p {
    margin: 0;
    font-size: 1em;
    color: #666;
}

.card .card-class {
    border: 0.1em solid darkgray;
}

.bottom {
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 0.8em;
}