<div class="card">
    <h2>{{cardValues.name}}</h2>
    <img src="../../assets/test-img.png" alt="Card Image">
    <p class="card-class">{{cardValues.class}}</p>
    <p>{{cardValues.description}}</p>
    <div class="buttom">
        <span>Cost:{{cardValues.cost}}</span>
        <ng-container *ngIf="cardValues.battleStats">
            <span>Attack:{{cardValues.battleStats.attack}}</span>
            <span>Defense:{{cardValues.battleStats.defense}}</span>
        </ng-container>
    </div>
</div>