<div class="card" [style.background-color]="cardValues.color">
    <h2>{{cardValues.name}}</h2>
    <img src="{{cardValues.imgUrl || '../../assets/test-img.png'}}" alt="Card Image">
    <p class="card-class">{{cardValues.class}}</p>
    <p>{{cardValues.description}}</p>
    <div class="bottom">
        <span><i class="fa-solid fa-star"></i>{{cardValues.cost}}</span>
        <ng-container *ngIf="cardValues.battleStats">
            <span><i class="fa-solid fa-hand-fist"></i>{{cardValues.battleStats.attack}}</span>
            <span><i class="fa-solid fa-heart-pulse"></i>{{cardValues.battleStats.defense}}</span>
        </ng-container>
    </div>
</div>