<form>
    <div>
        <label for="name">Card Name</label>
        <input type="text" id="name" name="name" [(ngModel)]="name">
    </div>
    <div>
        <label for="class">Card Class</label>
        <input type="text" id="class" name="class" [(ngModel)]="class">
    </div>
    <div>
        <label for="description">Card Description</label>
        <textarea id="description" name="description" [(ngModel)]="description"></textarea>
    </div>
    <div>
        <input type="submit" value="Update Card" (click)="onSubmit()">
    </div>
</form>
