input {
    width: 20em;
}

input[type='checkbox'] {
    width: auto;
}

textarea {
    width: 20em;
    height: 10em;
    resize: none;
}

div {
    margin-block: 0.5em;
    display: flex;
    flex-direction: column;
}

.check {
    flex-direction: row;
    align-items: left;
}