<form>
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" [(ngModel)]="values.name">
    </div>
    <div>
        <label for="class">Class</label>
        <input type="text" id="class" name="class" [(ngModel)]="values.class">
    </div>
    <div>
        <label for="cost">Cost</label>
        <input type="number" id="cost" name="cost" [(ngModel)]="values.cost">
    </div>
    <div>
        <label for="description">Description</label>
        <textarea id="description" name="description" [(ngModel)]="values.description"></textarea>
    </div>
    <div>
        <input type="submit" value="Update Card" (click)="onSubmit()">
    </div>
</form>
